@{
    ViewBag.Title = "Color Creator";
}
<h2>Let's play with colors</h2>

@using (Html.BeginForm("Colors", "Home", FormMethod.Post))
{

<h6>Please use the hexidecimal form (#FFFAFA)</h6>
    <div>
        @Html.Label("firstcolor", "First Color ")<br />
        @Html.TextBox("FirstColor", null, htmlAttributes: new { type = "text", pattern = "#[0-9a-fA-F]{3,6}", required = "required" })
    </div>

    <div>
        @Html.Label("secondcolor", "Second Color ")<br />
        @Html.TextBox("SecondColor", null, htmlAttributes: new { type = "text", pattern = "#[0-9a-fA-F]{3,6}", required = "required" })
    </div>
    <br />
    <input type="submit" class="btn btn-primary btn-lg" value="New Color" />
    <br/><br/>
}

@if (ViewBag.ColorResult)
{
    <div class="row">
        <div class="col-sm-7" style="@ViewBag.Color1"></div>
        <div class="col-sm-7" style="width:75px; height: 75px;"><h1> + </h1></div>
        <div class="col-sm-7" style="@ViewBag.Color2"></div>
        <div class="col-sm-7" style="width:75px; height: 75px;"><h1> = </h1></div>
        <div class="col-sm-7" style="@ViewBag.MixedColors"></div>
   </div>
}

