@model IEnumerable<Homework8.Models.Item>


@{
    ViewBag.Title = "Index";
}

<h2>Current items for sale</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Seller.SellerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemDescription)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Seller.SellerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemDescription)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ItemID })
            </td>
        </tr>
    }

</table>

<p>@Html.ActionLink("Got an item you want to sell?", "Create")</p>