@model Homework6.Models.Required.WWViewModel;
<!---->
@section Header
{
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin="" />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
            integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
            crossorigin=""></script>
}

<!---->
<div>
    <h3>Personal Details</h3><br />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.GetPerson.FullName)</dt>
        <dd>@Html.DisplayFor(model => model.GetPerson.FullName)</dd>

        <dt>@Html.DisplayNameFor(model => model.GetPerson.PreferredName)</dt>
        <dd>@Html.DisplayFor(model => model.GetPerson.PreferredName)</dd>

        <dt>@Html.DisplayNameFor(model => model.GetPerson.PhoneNumber)</dt>
        <dd>@Html.DisplayFor(model => model.GetPerson.PhoneNumber)</dd>

        <dt>@Html.DisplayNameFor(model => model.GetPerson.FaxNumber)</dt>
        <dd>@Html.DisplayFor(model => model.GetPerson.FaxNumber)</dd>

        <dt>@Html.DisplayNameFor(model => model.GetPerson.EmailAddress)</dt>
        <dd>@Html.DisplayFor(model => model.GetPerson.EmailAddress)</dd>

        <dt>@Html.DisplayNameFor(model => model.GetPerson.Photo)</dt>
        <dd>@Html.DisplayFor(model => model.GetPerson.Photo)</dd>

        <dt>@Html.DisplayNameFor(model => model.GetPerson.ValidFrom)</dt>
        <dd>@Html.DisplayFor(model => model.GetPerson.ValidFrom)</dd>
    </dl>
</div>

<!---->
<div>
    <h3>Customer Details</h3><br />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.GetCustomer.CustomerName)</dt>
        <dd>@Html.DisplayFor(model => model.GetCustomer.CustomerName)</dd>

        <dt>@Html.DisplayNameFor(model => model.GetCustomer.PhoneNumber)</dt>
        <dd>@Html.DisplayFor(model => model.GetCustomer.PhoneNumber)</dd>

        <dt>@Html.DisplayNameFor(model => model.GetCustomer.FaxNumber)</dt>
        <dd>@Html.DisplayFor(model => model.GetCustomer.FaxNumber)</dd>

        <dt>@Html.DisplayNameFor(model => model.GetCustomer.WebsiteURL)</dt>
        <dd>@Html.DisplayFor(model => model.GetCustomer.WebsiteURL)</dd>

        <dt>@Html.DisplayNameFor(model => model.GetCustomer.ValidFrom)</dt>
        <dd>@Html.DisplayFor(model => model.GetCustomer.ValidFrom)</dd>
    </dl>
</div>

<!---->
<div>
    <h3>Items Purchased</h3>
    <table>
        <thead>
            <tr>
                <th>@Html.Label("stock-item", "Stock Item")</th>
                <th>@Html.Label("description", "Description")</th>
                <th>@Html.Label("line-profit", "Profit")</th>
                <th>@Html.Label("sale-person", "Sales Person")</th>
            </tr>
        </thead>

        @foreach (var product in Model.GetInvoiceLine)
        {
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(item => product.StockItemID)</td>
                    <td>@Html.DisplayFor(item => product.Description)</td>
                    <td>@string.Format("{0:C}",product.LineProfit)</td>
                    <td>@Html.DisplayFor(item => product.Invoice.Person4.FullName)</td>
                </tr>
            </tbody>
        }
    </table>
</div>