@model IEnumerable<Homework5.Models.Request>

@{
    ViewBag.Title = "Requests Being Processed";
}

<h2>RequestQueue</h2>

<table>
    <tr>
        <th>@Html.DisplayNameFor(model => model.FirstName) </th>

        <th">@Html.DisplayNameFor(model => model.Apt_Name) </th>

        <th>@Html.DisplayNameFor(model => model.Req_Box) </th>

        <th>@Html.DisplayNameFor(model => model.Req_Date) </th>

    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>@Html.DisplayFor(model => item.FirstName) </td>
        <td>@Html.DisplayFor(model => item.Apt_Name) </td>
        <td>@Html.DisplayFor(model => item.Req_Box) </td>
        <td>@Html.DisplayFor(model => item.Req_Date) </td>
    </tr>
    }
</table>