@model IEnumerable<Homework5.Models.Request>

@{
    ViewBag.Title = "Requests Being Processed";
}
<h1>Requests currently in progress</h1>

<!-- Simple table to display requests in the table -->
<table>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Apt_Name) </th>
        <th style="padding: 0px 0px 0px 15px">@Html.DisplayNameFor(model => model.Req_Box) </th>
        <th style="padding: 0px 0px 0px 15px">@Html.DisplayNameFor(model => model.Req_Date) </th>
    </tr>
    <!-- Puts the data into the table -->
    @foreach (var item in Model)
    {
    <tr>
        <td>@Html.DisplayFor(model => item.Apt_Name) </td>
        <td style="padding: 0px 0px 0px 15px">@Html.DisplayFor(model => item.Req_Box) </td>
        <td style="padding: 0px 0px 0px 15px">@Html.DisplayFor(model => item.Req_Date) </td>
    </tr>
    }
</table>