
@{
    ViewBag.Title = "SubmitRequest";
}
@model Homework5.Models.Request

<h2>Request for Maintenance Form</h2>

@using (Html.BeginForm())
{

    <div class="container-fluid">
        <div class="column1">
            @Html.LabelFor(s => s.FirstName)<br />
            @Html.EditorFor(s => s.FirstName, new { htmlAttributes = new { @class = "form-control" } })<br />
        </div>
        <div class="column1">
            @Html.LabelFor(s => s.LastName)<br />
            @Html.EditorFor(s => s.LastName, new { htmlAttributes = new { @class = "form-control" } })<br />
        </div>
        <div class="column1">
            @Html.LabelFor(s => s.Phone)<br />
            @Html.EditorFor(s => s.Phone, new { htmlAttributes = new { @class = "form-control", @maxlength="10" } })<br />
        </div>
    </div>

    <div class="container-fluid">
        <div class="column2">
            @Html.LabelFor(s => s.Apt_Name)<br />
            @Html.EditorFor(s => s.Apt_Name, new { htmlAttributes = new { @class = "form-control" } })<br />
        </div>
        <div class="column2">
            @Html.LabelFor(i => i.Unit)<br />
            @Html.EditorFor(i => i.Unit)<br />
        </div>
    </div>

    <div class="container-fluid">
        <div class="column3">
            @Html.LabelFor(s => s.Req_Box)<br />
            @Html.EditorFor(s => s.Req_Box, new { htmlAttributes = new { @class = "form-control" } })<br />
        </div>
    </div>

    <div class="column3">
        @Html.LabelFor(d => d.Req_Date)
        @Html.EditorFor(d => d.Req_Date, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(d => d.Req_Date)
        <input class="btn-primary" type="submit" value="Submit Form" formmethod="post" />
    </div>
}

